<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/v9.css"/>
	</head>
	<body>
			<div id="app1">
				<div v-if="books.length">
					<table>
						<thead>
						<tr>
							<th></th>
							<th>书名</th>
							<th>出版日期</th>
							<th>价格</th>
							<th>购买数量</th>
							<th>操作</th>
						</tr>
						</thead>
						<tbody>
						<tr v-for="(item,index) in books">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.data}}</td>
							<!--					<td>¥{{item.price.toFixed(2)}}</td>-->
							<td>{{item.price * item.count | showPrice}}</td>
							<td>
								<button @click="decrement(index)" v-bind:disabled="item.count == 1">-</button>
								{{item.count}}
								<button @click="increment(index)">+</button>
							</td>
							<td><button @click="removeHandle(index)">移除</button></td>
						</tr>
						</tbody>
					</table>
					<h3>总价格：{{totalPrice | showPrice}}</h3>
				</div>
				<h3 v-else>购物车为空</h3>
			</div>
	
			<script src="js/v9.js" type="text/javascript" charset="utf-8"></script>
		</body>
</html>
