html,body{
	height: 100%;
}

.banner{
	position: relative;
	width: 100vw;
	height: 155px;
	background-color: lightblue;
	overflow: hidden;
}

.image{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}